@model Portal.Models.CourseListTable

@{
    ViewBag.Title = "Course List";
    Layout = "~/Views/Course/CourseLayout.cshtml";
}

@*@Html.Hidden("RedirectTo", Url = "~/Views/Course/CourseLayout.cshtml")*@

<style>
    .portal-button {
        background-color: #f64c72;
        color: white;
        border: none;
        border-radius: 20px;
        padding: 10px;
        padding-left: 20px;
        padding-right: 20px;
        margin: 10px;
        width: 20%;
        align-items: center;
    }
</style>

<div class="course-list">
    <h4>Note: Only Select courses suitable for your study level.</h4>

    <table id="course-table" class="display course-list-table">
        <thead>
            <tr>
                <th></th>
                <th>Course ID</th>
                <th>Course Title</th>
                <th>Credit Hours</th>
                <th>Level Taken</th>
                <th>Lecturer</th>
                <th>Programme</th>
            </tr>
        </thead>
    </table>

    <button class="portal-button" id="select-btn">Select Courses</button>
</div>

<link href="//cdn.datatables.net/1.13.4/css/jquery.dataTables.min.css" rel="stylesheet" />
<link type="text/css" href="//gyrocode.github.io/jquery-datatables-checkboxes/1.2.12/css/dataTables.checkboxes.css" rel="stylesheet" />

@section scripts {

    <script src="//cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="//gyrocode.github.io/jquery-datatables-checkboxes/1.2.12/js/dataTables.checkboxes.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/buttons/2.3.6/js/dataTables.buttons.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/buttons/2.3.6/js/buttons.html5.min.js"></script>
    <script type="text/javascript">var url = '@Url.Action("SelectedCourses", "Course")';</script>


    <script>
        var coursetable;
        $(document).ready(function () {
            coursetable = $("#course-table").DataTable({
                "ajax": {
                    "url": "/Course/GetData",
                    "type": "GET",
                    "datatype": "json"
                },
                "columns": [
                    {},
                    { "data": "CourseId" },
                    { "data": "CourseTitle" },
                    { "data": "CreditHours" },
                    { "data": "LevelTaken" },
                    { "data": "Lecturer" },
                    { "data": "Programme" }
                ],
                'columnDefs': [
                    {
                        "defaultContent": "-",
                        "targets": 0,
                        'checkboxes': {
                            'selectRow': true
                        }
                    }
                ],
                'dom': 'Bfrtip',
                'buttons': [
                    {
                        'extend': 'copyHtml5',
                        'text': 'Copy to clipboard'
                    },
                    'excelHtml5',
                    'csvHtml5',
                    'pdfHtml5'
                ]
            });
        });

        $('#select-btn').on('click', function () {
            var selected_rows = [];
            $("input:checkbox", coursetable.rows().nodes()).each(function () {
                if ($(this).is(":checked")) {
                    var row = $(this).closest('tr');
                    selected_rows.push(coursetable.row($(row)).data());
                }
            });
            $.ajax({
                url: '/Course/SendSelectedCourses',
                type: 'POST',
                data: JSON.stringify(selected_rows),
                contentType: 'application/json',
                success: function () {
                    alert('Selected courses have been added to your course list!');
                    location.href = url;
                }
            });
        });


    </script>
}