
@{
    ViewBag.Title = "Selected Courses";
    Layout = "~/Views/Course/CourseLayout.cshtml";
}


<div class="course-list">
    <table id="course-table" class="display selected-courses-table">
        <thead>
            <tr>
                <th>Course ID</th>
                <th>Course Title</th>
                <th>Credit Hours</th>
                <th>Level Taken</th>
                <th>Lecturer</th>
                <th>Programme</th>
            </tr>
        </thead>
    </table>
</div>

<link href="//cdn.datatables.net/1.13.4/css/jquery.dataTables.min.css" rel="stylesheet" />

@section scripts {

    <script src="//cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js"></script>

    @*<script>
        var coursetable;
        $(document).ready(function () {
           coursetable = $("#course-table").DataTable({
                "ajax": {
                    "url": "/Course/GetSelectedCourses",
                    "type": "GET",
                    "datatype": "json"
                },
                "columns": [
                    { "data": "CourseId" },
                    { "data": "CourseTitle" },
                    { "data": "CreditHours" },
                    { "data": "LevelTaken" },
                    { "data": "Lecturer" },
                    { "data": "Programme" }
                ]
             });
        });
    </script>*@
}