#nav-link, footer {
    color: white;
}


#uni {
    color: #F64C72;
    font-size: 2rem;
    font-weight: 700;
}

body, .navbar {
    background-color: #2F2FA2;
    font-family: 'Quicksand', sans-serif;
}

body {
    margin-right: 0px;
    padding-right: 0px;
}

.navbar-nav {
    display: flex;
    justify-content: flex-end;
    align-content: flex-end;
}
