
@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Lecturer/LecturerDashboardLayout.cshtml";
}


<style>
    h1 {
        padding-top: 50px;
    }
</style>

<h1>Welcome <span>@ViewBag.Lecturer.FirstName</span></h1>