<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/LecturerDashboardCss.css" rel="stylesheet" />

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;600;700&display=swap" rel="stylesheet">
</head>
<body>
    <!--Navbar-->

    <nav class="navbar navbar-expand-lg bg-body-tertiary dashboard-navbar">
        <div class="container-fluid">
            <a class="navbar-brand" href="#"><span id="uni">LECTURER PORTAL</span></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav m-auto mb-2 mb-lg-0 justify-content-center container-fluid">
                    <li class="nav-item">
                        <a class="nav-link" id="nav-link" href="~/Lecturer/Dashboard">Dashboard</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="nav-link" href="~/Home/Index">Courses I'm Teaching</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="nav-link" href="~/Home/Index">Students Offering my Courses</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="nav-link" href="~/Home/Index">Result Upload</a>
                    </li>
                </ul>
                <ul class="navbar-nav m-auto mb-2 mb-lg-0 justify-content-end container-fluid>
                    <li class="nav-item">
                        <a class="nav-link" id="nav-link" href="~/Lecturer/Logout">Logout</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="content">
        <!--Sidebar-->

        <!--<nav class="navbar bg-body-tertiary dashboard-sidebar">
            <ul class="nav flex-column">
                <li class="nav-item dashboard-nav-item top">
                    <a class="nav-link active dashboard-nav-link" aria-current="page" href="~/Lecturer/Dashboard">Dashboard</a>
                </li>
                <li class="nav-item dashboard-nav-item">
                    <a class="nav-link dashboard-nav-link" href="#">Courses I'm Teaching</a>
                </li>
                <li class="nav-item dashboard-nav-item">
                    <a class="nav-link dashboard-nav-link" href="#">Students Offering my Courses</a>
                </li>
                <li class="nav-item dashboard-nav-item">
                    <a class="nav-link dashboard-nav-link" href="#">Result Upload</a>
                </li>

            </ul>
        </nav>-->



        <div class="dashboard-content">
            <div class="actual-content">
                @RenderBody()
            </div>
        </div>

    </div>
    <!--Footer-->
    <footer>
        <p align="center">Copyright @@2023, Esther University --emptycodes--</p>
    </footer>
    <script src="~/Scripts/bootstrap.bundle.min.js"></script>
</body>
</html>