<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/StudentDashboardCss.css" rel="stylesheet" />

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">

    <link rel="apple-touch-icon" sizes="180x180" href="~/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="~/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="~/favicon/favicon-16x16.png">
    <link rel="manifest" href="~/favicon/site.webmanifest">
</head>
<body class="d-flex flex-column min-vh-100">


    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <a class="navbar-brand" href="#"><span id="uni">STUDENT PORTAL</span></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto container-fluid justify-content-end">
                <li class="nav-item">
                    <a class="nav-link" id="nav-link" href="~/Student/StudentDetails">STUDENT DETAILS</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="nav-link" href="~/Course/SemesterRegistration">REGISTER FOR SEMESTER</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="nav-link" href="~/Course/Index">COURSES</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="nav-link" href="~/Course/SelectedCourses">SELECTED COURSES</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="nav-link" href="~/Course/Results">RESULTS</a>
                </li>
            </ul>
            <ul class="navbar-nav m-auto mb-2 mb-lg-0 justify-content-end container-fluid">
                @if (User.Identity.IsAuthenticated)
                {
                    <li class="nav-item">
                        <span id="nav-link" class="nav-link">Hello @User.Identity.Name</span>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="nav-link" href="~/Student/Logout">LOGOUT</a>
                    </li>
                }

            </ul>
        </div>
    </nav>











    <div class="course-content">
        @RenderBody()
    </div>

    <!--Footer-->
    <footer class="mt-auto">
        <p align="center">Copyright @@2023, Esther University --emptycodes--</p>
    </footer>
    <script src="~/Scripts/bootstrap.bundle.min.js"></script>
    <script src="~/Scripts/jquery-2.0.0.min.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>
