<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/stdLectStyle.css" rel="stylesheet" />

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">

    <link rel="apple-touch-icon" sizes="180x180" href="~/Content/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="~/Content/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="~/Content/favicon-16x16.png">
    <link rel="manifest" href="~/Content/site.webmanifest">
</head>
<body class="d-flex flex-column min-vh-100">
    <!--Navbar-->

    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <a class="navbar-brand" href="#"><span id="uni">ESTHER UNIVERSITY</span></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav m-auto mb-2 mb-lg-0 justify-content-end container-fluid">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" id="nav-link" href="~/Home/Index">HOME</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="nav-link" href="~/Student/Index">STUDENT PORTAL</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="nav-link" href="~/Lecturer/Index">LECTURER PORTAL</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div>
        @RenderBody()
    </div>


    <!--Footer-->
    <footer class="mt-auto">
        <p align="center">Copyright @@2023, Esther University --emptycodes--</p>
    </footer>
    <script src="~/Scripts/bootstrap.bundle.min.js"></script>
</body>
</html>
